body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #f5f9ff;
  color: #333;
}

header {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
              url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 40px 20px;
}


header h1 {
  font-size: 48px;           
  font-weight: bold;          
  color: #c40d0d;             
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
  margin: 0;
  padding: 10px 20px;
  background: rgba(255,255,255,0.2); 
  border-radius: 10px;      
  display: inline-block;      
}


nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
  color: #ff0000;
}

figure {
  text-align: center;
}

figure img {
  width: 300px;
  border-radius: 8px;
  margin-top: 10px;
}

.product-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  width: 100%;
  border-radius: 6px;
}

.price {
  font-weight: bold;
  color: #000dff;
}

.video {
  text-align: center;
}

footer {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
              url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 40px 20px;
}
